@charset "utf-8";

/* ==================================== GENERAL RESET ==================================== */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height   : auto;
    /* removes the 4px of white space between images - NOT ALWAYS USED!! */
    display  : block;
}

body {
    margin             : 0;
    padding            : 0;
    font-family        : 'Merriweather', serif;
    font-size          : 14px;
    /* background-color: #18181a; */
}

h1,
h2,
h3,
nav a {
    font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

p {
    line-height   : 1.7;
    letter-spacing: 0.5px;
}

/* removes dotted lines when hovering over a link */
a {
    outline: 0;
}

a:hover,
a:focus,
a:active {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

/* ==================================== UTILITY CLASSES ==================================== */

/* Back to top button */
.up-button {
    position        : fixed;
    z-index         : 913;
    bottom          : 10px;
    right           : 10px;
    padding         : 10px 10px 8px 10px;
    border-radius   : 5px;
    background-color: #18181a;
    color           : white;
    border          : 1px solid rgba(128, 128, 128, 0.5);
    font-size       : 22px;
}

.up-button:hover,
.up-button:focus,
.up-button:active {
    color: plum;
}

/* back to top button media queries */
@media(min-width: 400px) {
    .up-button {
        bottom: 20px;
        right : 20px;
    }
}

@media(min-width: 500px) {
    .up-button {
        bottom: 27px;
        right : 27px;
    }
}

@media(min-width: 800px) {
    .up-button {
        bottom   : 35px;
        right    : 35px;
        font-size: 22px;
        padding  : 11px 11px 9px 11px;
    }
}

@media(min-width: 1200px) {
    .up-button {
        bottom   : 50px;
        right    : 50px;
        font-size: 25px;
        padding  : 12px 12px 10px 12px;
    }
}

/* ==================================== MOBILE INDEX CLASSES ==================================== */
/* IS mobile responsive from 300px-1920px */

.index-body {
    background-image     : url("../images/index-bg-300-400.jpg");
    background-position  : top;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    background-color     : black;
}

/* index's hero */
.index-hero {
    height          : 400px;
    background-color: transparent;
    position        : relative;
}

.index-hero-pointer,
.index-hero-pointer a {
    /* border                     : 2px solid green; */
    position                   : absolute;
    bottom                     : 50%;
    left                       : 50%;
    transform                  : translateX(-50%);
    padding                    : 0;
    margin                     : 0;
    color                      : rgba(255, 255, 255, 0.945);
    font-size                  : 10px;
    line-height                : 5px;
    /* text-transform          : uppercase; */
    text-align                 : center;
    text-decoration            : none;
    text-shadow                : 2px 0.5px 9px black;
}

.index-hero-pointer a:hover,
.index-hero-pointer a:focus,
.index-hero-pointer a:active {
    color      : rgba(98, 141, 221, 0.781);
    text-shadow: 2px 0.5px 9px rgba(0, 0, 0, 0.719);
}

.index-main p {
    font-size: 12px;
}

.index-info p {
    padding    : 10px 25px;
    text-shadow: 1px 1px 2px black;
}

.info-bold {
    font-weight: bold;
}

.info-headings {
    font-size     : 13.5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow   : 1px 1px 3px black;
}

.introduction {
    font-weight   : bold;
    font-size     : 18px;
    letter-spacing: 3px;
}

.name {
    font-size     : 25px;
    letter-spacing: 7px;
    color         : rgb(99, 149, 241);
    text-shadow   : 1px 1px 3px black;
}

.language {
    color: rgb(99, 149, 241);
}

.comments {
    color: grey;
}

.index-info {
    background-color: #0e0e36d5;
    padding         : 75px 25px;
}

.index-info p {
    letter-spacing : 1.5px;
    color          : whitesmoke;
    text-align     : justify;
    text-align-last: center;
}

/* makes hyperlinks grey */
.index-info a {
    /* text-decoration: none; */
    color: darkgrey;
}

.index-info a:hover {
    color: plum;
}

/* ==================================== JAVASCRIPT CLASSES ==================================== */
/* not mobile responsive.. i think? */

.javascript {
    /* border    : 1px solid red; */
    font-size     : 11px;
    letter-spacing: 1.2px;
    color         : rgb(253, 208, 216);

    /* background                      : -webkit-linear-gradient(rgb(175, 137, 187), rgb(150, 146, 175));
    -webkit-background-clip            : text;
    -webkit-text-fill-color            : transparent; */
    text-align: center;
    padding   : 0;
    margin    : 0;
}

/* ==================================== PANEL/ARTICLE CLASSES ==================================== */

/* allowing for text-links over images */
.index-about-article-image,
.index-gallery-article-image,
.index-discography-article-image,
.index-tickets-article-image {
    position: relative;
    overflow: hidden;
}

/* positioning said text-link */
.index-about-article h1,
.index-discography-article h1,
.index-gallery-article h1,
.index-tickets-article h1 {
    position  : absolute;
    z-index   : 5;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    text-align: center;
}

/* said text-link's styles */
.index-about-article a,
.index-discography-article a,
.index-gallery-article a,
.index-tickets-article a {
    color          : white;
    text-decoration: none;
    text-shadow    : 2px 2px black;
    font-size      : 15px;
    letter-spacing : 7px;
    line-height    : 1.8em;
    text-transform : uppercase;
}

/* underlining effect on a's hover */
.index-about-article a::before,
.index-discography-article a::before,
.index-gallery-article a::before,
.index-tickets-article a::before {
    background-color: white;
    content         : "";
    width           : 0;
    height          : 2px;
    left            : 0;
    bottom          : 0;
    transition      : width 0.5s ease 0s;
    position        : absolute;
}

/* underlining effect on a's hover continued */
.index-about-article a:hover::before,
.index-about-article a:focus::before,
.index-about-article a:active::before,
.index-discography-article a:hover::before,
.index-discography-article a:focus::before,
.index-discography-article a:active::before,
.index-gallery-article a:hover::before,
.index-gallery-article a:focus::before,
.index-gallery-article a:active::before,
.index-tickets-article a:hover::before,
.index-tickets-article a:focus::before,
.index-tickets-article a:active::before {
    width: 100%;
}

/* makes picture zoom-in effect when hovered */
.index-about-article-image:hover img,
.index-about-article-image:focus img,
.index-about-article-image:active img,
.index-discography-article-image:hover img,
.index-discography-article-image:focus img,
.index-discography-article-image:active img,
.index-gallery-article-image:hover img,
.index-gallery-article-image:focus img,
.index-gallery-article-image:active img,
.index-tickets-article-image:hover img,
.index-tickets-article-image:focus img,
.index-tickets-article-image:active img {
    transform: scale(1.04);
}

/* hover zoom-in transition speed */
.index-articles-section img {
    transition: 1s;
}

/* start of specific article styles */

/* tiger's article image */
.index-about-article-image:hover img,
.index-about-article-image:focus img,
.index-about-article-image:active img {
    filter: brightness(50%);
}

/* cherry blossom's article image */
.index-discography-article-image:hover img,
.index-discography-article-image:focus img,
.index-discography-article-image:active img {
    filter: brightness(50%);
}

/* blackpink's article image */
.index-gallery-article-image:hover img,
.index-gallery-article-image:focus img,
.index-gallery-article-image:active img {
    filter: brightness(45%);
}

/* muay thai's article image */
.index-tickets-article-image:hover img,
.index-tickets-article-image:focus img,
.index-ticket-article-image:active img {
    filter: brightness(43%);
}

/* making flex boxes for articles */

.index-section-01,
.index-section-02 {
    display        : flex;
    justify-content: space-between;
}

.index-about-article,
.index-gallery-article,
.index-discography-article,
.index-tickets-article {
    width: 50%;
}

/* ==================================== GALLERY CLASSES ==================================== */
/* DECIDED NOT TO USE */

/* .index-gallery-showcase {
    display  : flex;
    flex-wrap: wrap;
}

.box {
    width     : 25%;
    text-align: center;
    filter    : grayscale(100%);
    position  : relative;
}

text invisible by default
.box h1 {
    position      : absolute;
    bottom        : 40%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    color         : transparent;
    cursor        : default;
    letter-spacing: 1.5px;
}

text turn visible when hovered over
.box:hover,
.box:focus,
.box:active,
.box:hover h1,
.box:focus h1,
.box:active h1 {
    color      : white;
    text-shadow: 2px 1px black;
    filter     : brightness(100%);
} */

/* ==================================== FOOTER CLASSES ==================================== */
/* IS mobile responsive starting from 750px or higher*/

footer {
    background-color: rgba(0, 0, 0, 0.945);
    color           : rgb(167, 167, 167);
    text-decoration : none;
    text-transform  : uppercase;
    text-align      : center;
    font-family     : 'Fauna One', serif;
    margin          : 0;
}

footer h1 {
    font-size: 13px;
    color    : whitesmoke;
}

footer a {
    color: whitesmoke;
}

footer a:hover,
footer a:focus,
footer a:active {
    /* color: plum; */
    color: rgb(90, 144, 245);
}

/* back to top */
.footer-back-to-top {
    /* border : 1px solid green; */
    padding: 0px 0px 15px 0px;
}

.footer-back-to-top a {
    color          : whitesmoke;
    font-size      : 10px;
    padding        : 2px 0;
    text-transform : uppercase;
    text-decoration: none;
    transition     : 0.5s ease;
}

.footer-back-to-top a:hover,
.footer-back-to-top a:focus,
.footer-back-to-top a:active {
    color: rgb(167, 167, 167);
}

/* dummy icons */
.footer-upper a {
    font-size: 20px;
    padding  : 0 5px;
}

.footer-upper hr {
    width        : 72%;
    margin-bottom: 0px;
}

/* footer middle (contains author and credits */
.footer-middle {
    /* border   : 1px solid blue; */
    padding  : 15px 0px 10px 0px;
    font-size: 11px;
}

.footer-middle h1 {
    /* border       : 1px solid salmon; */
    margin-bottom: 12px;
    padding      : 0;
}

.footer-credits {
    /* border     : 1px solid yellow; */
    padding-top: 10px;
}

/* copyright footer stuff */
.footer-lower {
    font-size: 10px;
    padding  : 0px 0px 15px 0px;
}

/* ----- MEDIA QUIRIES (RESPONSIVE FROM 300px TO 1920px WIDTH) ----- */

@media(min-width: 400px) {
    .index-body {
        background-image: url("../images/index-bg-400-500.jpg");
    }

    .index-hero {
        height: 500px;
    }
}

@media(min-width: 500px) {
    .index-body {
        background-image: url("../images/index-bg-500-750.jpg");
    }

    .index-hero {
        height: 650px;
    }

    .index-hero-pinter,
    .index-hero-pointer a {
        font-size: 15px;
    }

    .index-main p {
        font-size: 12.5px;
    }

    .index-info p {
        padding: 10px 50px;
    }
}

@media(min-width: 750px) {
    .index-body {
        background-image: url("../images/index-bg-750-1200.jpg");
    }

    .index-hero {
        height: 675px;
    }

    .index-hero-pinter,
    .index-hero-pointer a {
        font-size: 25px;
    }

    .index-info p {
        padding: 10px 100px;
    }

    .footer-back-to-top {
        padding-top: 40px;
    }

    .footer-back-to-top a {
        font-size: 12px;
    }

    .footer-upper hr {
        width     : 50%;
        margin-top: 20px;
    }

    /* puts author/credits side by side */
    .footer-middle {
        display: flex;
    }

    .footer-middle p {
        line-height: 2em;
    }

    .footer-about-me,
    .footer-credits {
        width  : 50%;
        margin : 0;
        padding: 10px 0;
    }

    .footer-about-me {
        margin-left                 : 25%;
        border-right                : 1px solid rgba(184, 184, 184, 0.562);
        /* text-align               : right;
        padding-right               : 2.5%; */
    }

    .footer-credits {
        margin-right               : 25%;
        /* text-align              : left;
        padding-left               : 2.5%; */
    }
}

@media(min-width: 1200px) {
    .index-body {
        background-image   : url("../images/index-bg-1200-plus.jpg");
        background-position: bottom;
    }

    .index-hero {
        height: 100vh;
    }

    .index-hero-pinter,
    .index-hero-pointer a {
        font-size: 27px;
    }

    .index-info {
        background-color: #0e0e36d5;
        height          : 100vh;
        padding-top     : 100px;
    }

    .index-info p {
        padding: 10px 12%;
    }
}