body {
  background-image: url("../images/hero-1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body p, body h1, body h2, body h3 {
  color: ivory;
}
