@import "variables.scss";
@import "mixins.scss";

body {
     // its own styles
     background-color: $background_color;
     background-image: url("../images/hero-2.jpg");
     background-position: top;
     background-repeat: no-repeat;
     background-attachment: fixed;

     p,
     h1,
     h2,
     h3,
     ul,
     ol,
     li {
          color: $text_color;
     }

     .special-text {
          @include special-text();
     }
}
