/*
Contains styles for the game section. Includes both the dice and information sides
*/
.game-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dice-game,
.info {
  flex: 1;
}

.players-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.players-container .you-box,
.players-container .opponent-box {
  width: 400px;
  text-align: center;
}

.players-container img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.players-container .results {
  position: absolute;
  top: 200px;
  left: 120px;
}

.info {
  position: relative;
}

.info .info-text {
  text-align: center;
  position: absolute;
  height: 500px;
  width: 937px;
  font-size: 15px;
  margin: 0 auto;
  padding: 25%;
}
