// import variable values
@import "variables.scss";

// import mixins
@import "mixins.scss";

// import resets
@import "resets.scss";

// import styles
@import "body.scss";
@import "hero.scss";
@import "game-section.scss";
